.container {
    margin: 0 auto;
    text-align: center;
    height: 350px;
    background-image:url('logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 400px;
    position: relative;
}
            .container h1 {
                color: #ff6e00;
                text-align: center;
            }
            .contact-link, .insta-link {
                padding: 25px;
                font-size: 24px;
                background-color: #ff6919;
            }
            /* Absolute Alignment in Hero */
            .container .content {
               position: relative;
  top: 50%;
  transform: translateY(-50%);
            }
            /* Change Button */
            button {
                color: black;   
                text-decoration: none;
            }
                button a.hide {
                    display: none;
                }
                button:hover a.hide {
                    display: block;
                }
                button a.show {
                    display: block;
                }
                button:hover a.show {
                    display: none;
                }
                button:hover {
                    font-size: 50px;
                    color: blue;
                }
            
            .container p{
                color: #ff7f1e;
                
            }
            .background-image {
                background-image: url("https://img00.deviantart.net/c275/i/2012/222/0/c/orange_gradient_by_ohsnapjenny-d5an26q.jpg");
            }
            .section-two,
            .section-three {
                margin: 75px;
                
            }
.example-image {
    width: 300px;
    height: 300px;
    border: 15px ridge #ff7f1e;
}
.section-two button{
                padding: 25px;
                font-size: 24px;
                background-color: #ff6919;  
}

/* Example Photo Gallery styles */

ul.example-photos {
    list-style: none;
    display: block;
    padding: 0;
}
ul.example-photos li {
     list-style-type: none; 
    display: inline-block;
}


 button a.hide {
                    display: none;
                }
                button:hover a.don {
                    display: block;
                }
                button a.don- {
                    display: block;
                }
                button:hover a.don- {
                    display: none;
                }
                button:hover {
                    font-size: 50px;
                    color: blue;
                }