/* TEXT */
            .container h1 {
                color: white;
                text-align: center;
                font-family: "Comic Sans MS", cursive, sans-serif;
            }

/* Example Photo insta button*/
            .contact-link, .insta-link {
                padding: 25px;
                font-size: 24px;
                background-color: black;
            }


            /* Absolute Alignment in Hero */
            .container .content {
               position: relative;
  top: 50%;
  transform: translateY(-50%);
            }


            /* Change Button */
            button {
                color: black;   
                text-decoration: none;
            }
                button a.hide {
                    display: none;
                }
                button:hover a.hide {
                    display: block;
                }
                button a.show {
                    display: block;
                }
                button:hover a.show {
                    display: none;
                }
                button:hover {
                    font-size: 50px;
                    color: black;
                }
            
           /* Logo image main page */
            .background-image {
                background-image: url("background.png");
                background-position: center;
                background-repeat: no-repeat;
                margin: 0 auto;
                text-align: center;
                height: 350px;
                background-size: 400px;
                position: relative;
            }

/* Example Photo Text */
            .section-two,
            .section-three {
                margin: 75px;
                font-size: 25px;
                color:white;
            }

.example-image {
    width: 300px;
    height: 300px;
    border: 15px ridge #ff6600;
}
.section-two button{
                padding: 25px;
                font-size: 24px;
                background-color: #ff6600;  
}


/* Example Photo Gallery styles */

ul.example-photos {
    list-style: none;
    display: block;
    padding: 0;
}
ul.example-photos li {
     list-style-type: none; 
    display: inline-block;
}


/* Button */
 button a.hide {
                    display: none;
                }
                button:hover a.don {
                    display: block;
                }
                button a.don- {
                    display: block;
                }
                button:hover a.don- {
                    display: none;
                }
                button:hover {
                    font-size: 50px;
                    color: orange;
                }

html, body {
      margin: 0;
      padding: 0;
      width: 100%;
}

 
body {
      font-family: "Helvetica Neue",sans-serif;
      font-weight: lighter;
    background-color: white;
}

 
header {
      width: 10%;
      height: 10vh;
      background: url() no-repeat 50% 50%;
      background-size: cover;
}

 
.content {
      width: 94%;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}

 
.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: white;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
    font-family:"Comic Sans MS", cursive, sans-serif;
}
 

nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
    z-index: 9999;
}

 
nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: white;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}

 
nav.black ul {
      background: #ff6600;
}

 
nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}

 
nav ul li a {
      text-decoration: none;
      color: white;
      font-size: 16px;
}

 
.menu-icon {
      line-height: 60px;
      width: 100%;
      background: black;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: black;
      display: none;
}

 /* 1 Media queire */
@media(max-width: 786px) {
 
      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }
 
      nav ul {
            max-height: 0px;
            background: black;
      }
 
      nav.black ul {
            background: black;
      }
 
      .showing {
            max-height: 34em;
      }
 
      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }
 
      .menu-icon {
            display: block;
      }
 
}
body {
    background: linear-gradient(to bottom, #000000 27%, #ff6600 100%);
    background-repeat: no-repeat;
}

.message{
    color: white;
}

}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.fa-bars:before{
   color: white;
}

.sliding-text{
    font-size: 30px;
        color: #ff6600;
}

/* MEDIA QUERIES */

/* Mobile */
@media (max-width: 635px) {
    /* Adjusts title */
    h1 {
        font-size: 30px;
        color: white;
    }
    /* Adjusting Feature Images */
    .example-image {
        width: 300px;
        height: 300px;
    }
     /*Adjusting paragraph text*/
    p{
        font-size: 15px;
    }
    .text{
        font-size: 15px;
    }
   .content{
        font-size: 15px;
    }
}
.contact-center{
    text-align:center;
}