html, body {
      margin: 0;
      padding: 0;
      width: 100%;
}

 
body {
      font-family: "Helvetica Neue",sans-serif;
      font-weight: lighter;
}

 
header {
      width: 63%;
      height: 75vh;
      background: url(logo.png) no-repeat 50% 50%;    
     background-position: center;
    position: relative;
}

 
.content {
      width: 94%;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}

 
.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
    font-family:"Comic Sans MS", cursive, sans-serif;
}

 
nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
}

 
nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}

 
nav.black ul {
      background: #ff6600;
}

 
nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}

 
nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
}


.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}

 /*Media Quiere */
@media(max-width: 786px) {
 
      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }
 
      nav ul {
            max-height: 0px;
            background: #000;
      }
 
      nav.black ul {
            background: #000;
      }
 
      .showing {
            max-height: 34em;
      }
 
      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }
 
      .menu-icon {
            display: block;
      }
 
}
body {
    background: linear-gradient(to bottom, #000000 27%, #ff6600 100%);
    background-repeat: no-repeat;
}

.message{
    color: white;
}

.shaun{
    width:500px;
    height: 500px;
    border: 15px ridge black
}
.text{
    color:#ff6600;
    text-align:justify;
      font-size: 25px;
      line-height: 30px;
        
}

/* MEDIA QUERIES */

/* Mobile */
@media (max-width: 635px) {
    /* Adjusts title */
    h1 {
        font-size: 50px;
        color: white;
    }
    /* Adjusting Feature Images */
    .Shaun {
        width: 300px;
        height: 300px;
    }
    /*Adjusting paragraph text*/
    p{
        font-size: 15px;
    }
    .text{
        font-size: 15px;
    }